
/*------------ Footer Katelyn-----------*/
html, body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
}
/*-------NavBar Dani-------*/
.NavBar, .MyTopNav {
    background-color: #4A675A;
    overflow: hidden;
}


.NavBar a .MyTopNav a {
  float: left;
  display: block;
  color: #97b4a7;
  text-align: center;
  padding: 20px;
  text-decoration: none;
  font-family: Helvetica;
  font-size: 20px;


}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  border: none;
  outline: none;
  font-size: 20px;
  color:#f2f2f2;
  padding: 20px;
  background-color: inherit;
  margin: o;
  min-width: 120 px;

}


.dropdown-content {
  display: none;
  position: absolute;
  background-color: #4A675A;
  z-index: 1;
}
.active {
  background-color: #4A675A;
  color: #f2f2f2;
}

.NavBar .icon, .MyTopNav .icon {
	display: none;
}
.navbar a:hover, .topnav a:hover, .dropdown:hover .dropbtn {
	background-color:  #4A675A;
	color: #f2f2f2;
}
  
.dropdown-content a:hover {
	background-color: #4A675A;
	color: black;
}
  

.dropdown:hover .dropdown-content {
	display: block;
}

  @media screen and (max-width: 600px) {
	.navbar a:not(:first-child), .dropdown .dropbtn {
		display: none;
}
	
.navbar a.icon {
	  float: right;
	  display: block;
	}
}
  
  /* responsive design - added to the navbar with JavaScript - when icon is clicked, displays vertically */
@media screen and (max-width: 600px) {
	.navbar.responsive {position: relative;}
	.navbar.responsive a.icon {
		position: absolute;
		right: 0;
		top: 0;
}

.navbar.responsive a {
	float: none;
	display: block;
	text-align: left;
}
	
.navbar.responsive .dropdown {float: none;}
.navbar.responsive .dropdown-content {position: relative;}
.navbar.responsive .dropdown .dropbtn {
	display: block;
	width: 100%;
	text-align: left;
	}
}

/* all the text in the page to ensure the footer stays at the bottom and flexes with page */
.footerInfo {
  flex: 1 0 auto;
}
/* change colour and font to match what we have */ 
.footer {
  flex-shrink: 0;
 font-family: Helvetica;  
  background-color: #4A675A;
  color: white;
  text-align: center; 
}

.images
{			
	width:200px;
	height:200px;
	margin-right: 10px;
	float:left;
}
  
