

/*------------ Footer Katelyn-----------*/
html, body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
}


/*-------NavBar Dani-------*/
.NavBar, .MyTopNav {
    background-color: #88cc00;
    overflow: hidden;
}


.NavBar a, .MyTopNav a {
  float: left;
  display: block;
  color: #446600;
  text-align: center;
  padding: 20px;
  text-decoration: none;
  font-family: Helvetica;
  font-size: 20px;


}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  border: none;
  outline: none;
  font-size: 20px;
  color:#f2f2f2;
  padding: 20px;
  background-color: inherit;
  margin: o;
  min-width: 120 px;

}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgb(159, 170, 145);
  z-index: 1;
}
.active {
  background-color: rgb(159, 170, 145);
  color: #f2f2f2;
}
/* all the text in the page to ensure the footer stays at the bottom and flexes with page */
.footerInfo {
  flex: 1 0 auto;
}
/* change colour and font to match what we have */ 
.footer {
  flex-shrink: 0;
 font-family: Helvetica;  
  background-color: #4A675A;
  color: white;
  text-align: center; 
}

.images
{			
	width:200px;
	height:200px;
	margin-right: 10px;
	float:left;
}
  
