
/*------------ Footer Katelyn-----------*/
html, body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
}

/*-------Header Dani--------*/

.title {
  background-color: #4A675A;
  padding: 10px;
  text-align: center;
  font-family: Helvetica;
  font-size:30px;
  color: #f2f2f2;
}


/*-------NavBar Dani-------*/
.NavBar, .MyTopNav {
    background-color: #4A675A;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    
}


.NavBar a .MyTopNav a {
  float: left;
  display: flex;
  flex-direction: row;
  color: #f2f2f2;
  background-color: #4A675A;
  text-align: center;
  padding-top: 20px ;
  padding-left: 100%;
  padding-bottom:20px;
  padding-right:100%;
  text-decoration: none;
  font-family: Helvetica;
  font-size: 20px;


}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  border: none;
  outline: none;
  font-size: 20px;
  color:#f2f2f2;
  padding: 20px;
  background-color: #4A675A;
  margin: 0;
  min-width: 120 px;

}


.dropdown-content {
  display: none;
  position: absolute;
  min-width: 120px;
  background-color: #4A675A;
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: #f2f2f2;
  padding: 15px 20px;
  text-decoration: none;
  display: block;
  text-align: left;
  font-size: inherit;
}
.active {
  background-color: #4A675A;
  color: #f2f2f2;
}

.navbar a:hover, .topnav a:hover, .dropdown:hover .dropbtn {
	background-color:  #4A675A;
	color: #f2f2f2;
}
  
.dropdown-content a:hover {
	background-color: #4A675A;
	color: black;
}
  

.dropdown:hover .dropdown-content {
	display: block;
}

  @media screen and (max-width: 600px) {
	.navbar a:not(:first-child), .dropdown .dropbtn {
		display: none;
}
	
  
  /* responsive design - added to the navbar with JavaScript - when icon is clicked, displays vertically */
@media screen and (max-width: 600px) {
	.navbar.responsive {position: relative;}

.navbar.responsive a {
	float: none;
	display: block;
	text-align: left;
}
	
.navbar.responsive .dropdown {float: none;}
.navbar.responsive .dropdown-content {position: relative;}
.navbar.responsive .dropdown .dropbtn {
	display: block;
	width: 100%;
	text-align: left;
	}
}
  }
/* End of NavBar section*/


/* all the text in the page to ensure the footer stays at the bottom and flexes with page */
.footerInfo {
  flex: 1 0 auto;
}
/* change colour and font to match what we have */ 
.footer {
  flex-shrink: 0;
 font-family: Helvetica;  
  background-color: #4A675A;
  color: white;
  text-align: center; 
}

.images
{			
	width:200px;
	height:200px;
	margin-right: 10px;
	float:left;
}
  
  
